# https://nixpacks.com/docs/configuration/file
[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["cd server && npm install"]

[phases.build]
cmds = []

[start]
cmd = "cd server && node index.js"
